{% extends 'partials/base.html' %}
{% load static %}
{% block head_title%}
        <title>FL_Forms</title>
{% endblock %}
{% block extra_css %}
        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
            <div class="main-content">  
                <div class="page-content">
                    <div class="container-fluid">   
                        <div style="z-index: 11">
                            <div id="borderedToast2" class="toast overflow-hidden mt-3" role="alert" aria-live="assertive"
                                aria-atomic="true" data-bs-autohide="false">
                                <div class="align-items-center text-white border-0" id="toast-type">
                                    <div class="d-flex">
                                        <div class="toast-body">
                                        </div>
                                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" onclick="refreshPage()" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h4 class="card-title mb-0">Available Folders</h4>
                                <div>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
                                         <span data-feather="file-plus"></span> Upload Document
                                    </button>
                                </div>
                            </div><!-- end card header -->
                            
                            <div class="card-body">
                                
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills nav-justified mb-5" role="tablist">
                                {% for folder, files in folders_and_files.items %}
                                    <li class="nav-item waves-effect waves-light">
                                        <div class="btn-group me-2 mb-2 mb-sm-0">
                                            <a class="btn btn-outline-primary waves-light waves-effect folder-button" href="#{{ folder }}" data-folder="{{ folder }}" data-bs-toggle="tab" role="tab">
                                                <i class="fa fa-folder"></i>
                                                <span>{{ folder }}</span> 
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>

                                
                                <!-- Tab panes -->
                                <div class="tab-content p-3 text-muted">
                                 {% for folder, files in folders_and_files.items %}
                                    <div class="tab-pane" id="{{ folder }}" role="tabpanel">
                                        <div class="table-responsive mb-4">
                                            <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                                <thead>
                                                  <tr>
                                                    <th scope="col">Filename</th>
                                                    <th style="width: 80px; min-width: 80px;">Action</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                    {% for file in files %}
                                                    {% if file.lower|slice:"-4:" == ".pdf" %}
                                                    <tr>
                                                        <td><a href="{% url 'single_flforms' filename=file folder=folder %}">{{ file }}</a></td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <button class="btn btn-outline-primary font-size-16 shadow-primary py-0 text-muted dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdownmenu-primary dropdown-menu-end">
                                                                    <li><a class="dropdown-item edit-button" data-bs-toggle="modal" data-bs-target="#updateDocumentModal" href="#" data-name="{{ file }}">Update</a></li>
                                                                    <li><a class="dropdown-item move-button" data-bs-toggle="modal" data-bs-target="#moveModal" href="#" data-name="{{ file }}">Move</a></li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                        
                                                    </tr>
                                                    {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <!-- end table -->
                                        </div>
                                    </div>
                                 {% endfor %}   
                                </div>
                                
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <!-- Edit Document Modal -->
                <div class="modal fade" id="updateDocumentModal" tabindex="-1" aria-labelledby="updateDocumentModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateDocumentModalLabel">Update Document</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="updateDocumentForm">
                                    {% csrf_token %} 
                                        <div class="mb-3">
                                            <input hidden type="text" id="doctype" value="FL_Forms" name="doctype"/>
                                            <input hidden type="text" id="docname" name="docname"/>
                                        </div>    
                                        <div class="mb-3">
                                            <label for="descriptionInput" class="form-label">Description</label>
                                            <textarea class="form-control" name="description" rows="3"></textarea>
                                        </di
                                        <div class="mb-3">
                                            <label for="renameInput" class="form-label">Rename</label>
                                            <input type="text" class="form-control" name="rename">
                                        </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="saveButton" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Move Document Modal -->
                <div class="modal fade" id="moveModal" tabindex="-1" aria-labelledby="moveModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="moveModalLabel">Move Document</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="moveFileForm">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <input hidden type="text" id="filename" name="filename">
                                    </div>
                                    <div class="mb-3">
                                        <input hidden type="text" class="form-control" id="source_folder" name="source_folder">
                                    </div>
                                    <div class="mb-3">
                                        <label for="dest_folder" class="form-label">Select folder to move<span style="color: red;">*</span></label>
                                        <select class="form-select" id="dest_folder" name="dest_folder">
                                            <option selected value="">Select Folder</option>
                                            {% for folder, _ in folders_and_files.items %}
                                                <option value="{{ folder }}">{{ folder }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                            </div>
                             <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="moveButton" class="btn btn-primary">Move</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Upload File Modal -->
                <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadModalLabel">Upload Document</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Form for uploading document -->
                                <form id="uploadDocumentForm" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="file" class="form-label">Choose File<span style="color: red;">*</span></label>
                                        <input type="file" class="form-control" id="file" name="file" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="folder" class="form-label">Select Folder<span style="color: red;">*</span></label>
                                        <select class="form-select" id="folder" name="folder">
                                            <option selected value="">Select Folder</option>
                                            {% for folder, _ in folders_and_files.items %}
                                                <option value="{{ folder }}">{{ folder }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="text-center">
                                        <label class="form-label">OR</label>
                                    </div>
                                    <div class="mb-3">
                                        <label for="new_folder" class="form-label">Create New Folder</label>
                                        <input type="text" class="form-control" id="new_folder" name="new_folder">
                                    </div>
                                    <div class="mb-3">
                                        <input hidden type="text" class="form-control" id="folder_type" value="FL_Forms"  name="folder_type">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="uploadButton" class="btn btn-primary">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>    
{% endblock %}


{% block extra_js %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- init js -->
    <script src="{% static 'js/pages/datatable-pages.init.js' %}"></script>
    <script>
        function refreshPage(){
            location.reload();
        }

        document.querySelectorAll('.folder-button').forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const folder = this.getAttribute('data-folder');
                document.getElementById('source_folder').value = folder;
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const editButtons = document.querySelectorAll('.edit-button');
            editButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    const docName = event.currentTarget.dataset.name;
                    document.getElementById('docname').value = docName;
                });
            });
        });


        document.addEventListener('DOMContentLoaded', function() {
            
            var saveButton = document.querySelector('#saveButton');
            var saveUserForm = document.getElementById('updateDocumentForm');
            var successToast = document.getElementById('borderedToast2');
        
            saveButton.addEventListener('click', function(event) {
                event.preventDefault();
            
                // Collect form data
                var formData = new FormData(saveUserForm);
                
                // Make the API call
                fetch("{% url 'update_document' %}", { 
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success){
                        var toastDiv = document.getElementById('toast-type');
                        toastDiv.classList.add('bg-success');
                        document.querySelector('.toast-body').innerText="Document updated successfully!"
                    }else{
                        var toastDiv = document.getElementById('toast-type');
                        toastDiv.classList.add('bg-danger');
                        document.querySelector('.toast-body').innerText=data.error;  
                    }
                    $('#updateDocumentModal').modal('hide');
                    var toast = new bootstrap.Toast(successToast);
                    toast.show();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
                 
            });
        });
            
            

        document.addEventListener('DOMContentLoaded', function() {
            const moveButtons = document.querySelectorAll('.move-button');
            moveButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    const fileName = event.currentTarget.dataset.name;
                    document.getElementById('filename').value = fileName;
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
        var moveButton = document.querySelector('#moveButton');
        var moveFileForm = document.getElementById('moveFileForm');
        var successToast = document.getElementById('borderedToast2');
    
        moveButton.addEventListener('click', function(event) {
            event.preventDefault();
    
            // Collect form data
            var formData = new FormData(moveFileForm);
    
            // Make the API call
            fetch("{% url 'move_flforms' %}", {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        var toastDiv = document.getElementById('toast-type');
                        toastDiv.classList.add('bg-success');
                        document.querySelector('.toast-body').innerText = "Document Moved successfully!"
                    } else {
                        var toastDiv = document.getElementById('toast-type');
                        toastDiv.classList.add('bg-danger');
                        document.querySelector('.toast-body').innerText = data.error;
                    }
                    $('#moveModal').modal('hide');
                    var toast = new bootstrap.Toast(successToast);
                    toast.show();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
    
            });
        });   



        document.addEventListener('DOMContentLoaded', function() {
        var uploadButton = document.querySelector('#uploadButton');
        var uploadDocumentForm = document.getElementById('uploadDocumentForm');
        var successToast = document.getElementById('borderedToast2');
    
        uploadButton.addEventListener('click', function(event) {
            event.preventDefault();
    
            // Collect form data
            var formData = new FormData(uploadDocumentForm);
    
            // Make the API call
            fetch("{% url 'upload_document' %}", {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        var toastDiv = document.getElementById('toast-type');
                        toastDiv.classList.add('bg-success');
                        document.querySelector('.toast-body').innerText = "Document uploaded successfully!"
                    } else {
                        var toastDiv = document.getElementById('toast-type');
                        toastDiv.classList.add('bg-danger');
                        document.querySelector('.toast-body').innerText = data.error;
                    }
                    $('#uploadModal').modal('hide');
                    var toast = new bootstrap.Toast(successToast);
                    toast.show();
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
    
            });
        });   
    </script> 

{% endblock %}