{% extends 'partials/base.html' %}
{% load static %}
{% load custom_tags %}
{% block head_title%}
        <title>MN_Forms_File</title>
{% endblock %}
{% block extra_css %}
        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css">
{% endblock %}
{% block content %}
            <div class="main-content">  
                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h5 class="card-title" id="file-name">{{ file.name }}</span></h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#QuestionModal">
                                         <span data-feather="file-plus"></span> Add Question
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->

                        <!-- Add Question Modal -->
                        <div class="modal fade" id="QuestionModal" tabindex="-1" aria-labelledby="QuestionModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="QuestionModalLabel">Add Question&nbsp;</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="hideError()" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form for adding Question -->
                                        <form id="addQuestionForm">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="question-text" class="form-label">Question:<span style="color: red;">*</span></label>
                                                <input id="question-text"  type="text" class="form-control" name="question" placeholder="Enter your question here..">
                                            </div>
                                            <div class="mt-2 mb-3">
                                                <label for="question-type" class="form-label">Type:<span style="color: red;">*</span></label>
                                                <select id="question-type" class="form-select">
                                                    <option value="">Select</option>
                                                    <option value="required">Required</option>
                                                    <option value="optional">Optional</option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="question-desc" class="form-label">Description:</label>
                                                <input id="question-desc"  type="text" class="form-control" name="description" placeholder="Enter your description here..">
                                            </div>
                                            <div class="mb-3">
                                                <label for="question-link" class="form-label">Link:</label>
                                                <input id="question-link"  type="text" class="form-control" name="link" placeholder="Enter your link here..">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div id="errorContainer" style="color: red;"></div>
                                        <button type="button" class="btn btn-light" onclick="hideError()" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" onclick="submitQuestionAddForm()" id="question-add" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Questions-->
                        <div class="row align-items-center mb-3">
                            <h5 class="card-title"><span>Questions</span></h5>
                       </div>

                        <div class="table-responsive mb-4">
                            <!-- Selecting a Question -->
                            <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                <thead>
                                    <tr> 
                                        <th scope="col">Select</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Question</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">link</th>
                                        <th scope="col">Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for question in file.questions %}
                                    <tr class="question-item" data-question-id="{{ question.question_id }}" data-answer-locs="{{ question.answer_locations|to_json }}">
                                        <td>
                                            <input type="checkbox" class="form-check-input border border-secondary question-checkbox fs-5">
                                        </td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <button id="mark-answer-button" class="btn btn-success mark-answer-btn d-none">Mark Answer</button>
                                                <button type="button" class="btn btn-outline-info edit-question" data-bs-toggle="modal" data-bs-target="#editQuestionModal" data-question="{{ question.question_id }},{{ question.text }}, {{ question.type }}, {{ question.description }}, {{ question.link }}"><i class="fas fa-pencil-alt"></i></button>
                                                <button class="btn btn-outline-danger delete-question" data-bs-toggle="modal" data-bs-target="#deleteQuestionModal" data-question="{{ question.question_id }}"><i class="fa-solid fa-trash-can"></i></button>
                                            </div>
                                        </td>
                                        <td>
                                            <p>{{ question.text }}</p>
                                        </td>
                                        <td>
                                            {% if question.description %}<p>{{ question.description }}</p>{% endif %}
                                        </td>
                                        <td>
                                            {% if question.link %}<a href="{{ question.link }}" target="_blank">View</a>{% endif %}
                                        </td>
                                        <td>
                                            <p>{{ question.type }}</p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>    
                       <!-- end Questions -->

                       <!-- Pdf File -->
                        <div class="position-absolute h-100 start-50 top-50 z-3"> 
                            <div id="loader" class="spinner-border text-warning " style="border-width: 0.4em;" role="status"></div>
                        </div>
                        <div class="row mt-5 mb-2">
                            <div class="col-md-4 mb-5">
                                <!-- First Card -->
                                <div class="card mb-3 border border-secondary" style="height: 435px;">
                                    <div class="card-body">
                                        <h5 class="card-title">Answer Marking</h5>
                                        <hr>
                                        <div id="input-type-dropdown" class="mt-3 d-none">
                                            <label for="answer-input-type" class="form-label">Answer Input Type:<span style="color: red;">*</span></label>
                                            <select id="answer-input-type" class="form-select">
                                                <option value="">Select</option>
                                                <option value="single-line">Single Line</option>
                                                <option value="multiline">Multiline</option>
                                                <option value="single-checkbox">Single Checkbox</option>
                                                <option value="multiple-checkbox">Multiple Checkbox</option>
                                                <option value="multiple-checkbox-single-choice-answer">Multiple Checkbox(single-choice-answer)</option>
                                                <option value="multiple-checkbox-multiple-choice-answer">Multiple Checkbox(multiple-choice-answer)</option>
                                            </select>
                                        </div>
                                        <div id="output-type-dropdown" class="mt-3 d-none">
                                            <label for="answer-output-type" class="form-label">Answer Data Type:<span style="color: red;">*</span></label>
                                            <select id="answer-output-type" class="form-select">
                                                <option value="">Select</option>
                                                <option value="number">Number</option>
                                                <option value="text">Text</option>
                                                <option value="datetime">DateTime</option>
                                                <option value="boolean">Boolean</option>
                                            </select>
                                        </div>
                                        <div id="checkbox-text" class="d-flex flex-column justify-content-center mt-4 d-none">
                                            <div class="mb-2  mt-2">
                                                <label for="position" class="form-label">Enter the position(starting from 1,2,3....):<span style="color: red;">*</span></label>
                                                <input type="number" id="position" name="position" class="form-control" placeholder="Enter the position...">
                                            </div>
                                            <div>
                                                <label id="checkbox-value-label" for="checkbox-value" class="form-label">Enter the value for marked checkbox:<span style="color: red;">*</span></label>
                                            </div>
                                            <div class="mb-2 d-flex gap-2">
                                                <input type="text" id="checkbox-value" name="checkbox_value" class="form-control" placeholder="Enter the value here..">
                                                <div>
                                                    <button id="checkbox-value-button" type="button" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                            <div id="CheckboxErrorContainer" style="background-color: red; color: white; display: inline-block;"></div>
                                        </div>
                                        <div id="ansDatatypeErrorContainer" style="background-color: red; color: white; display: inline-block;"></div>
                                    </div>
                                </div>
                                <!-- Second Card -->
                                <div class="card border border-secondary" style="height: 420px;">
                                    <!-- Add content for the second card here -->
                                    <div class="card-body">
                                        <h5 class="card-title">Document Details</h5>
                                        <hr>
                                        <div class="mt-3">
                                            <div class="mb-2">
                                                <label for="doc-description" class="form-label">Description:</label>
                                                <textarea id="doc-description" class="form-control" rows="3" readonly>{{ file.description }}</textarea>
                                            </div>
                                            <div class="mt-4 mb-2">
                                                <label for="doc-url" class="form-label">Document:</label>
                                                <a id="doc-url" href="{{ BASE_URL }}{{ file.url }}" target="_blank">Download</a>
                                            </div>
                                            <div class="mb-2">
                                                <label for="preview-image" class="form-label">Preview Image:</label>
                                                <a id="preview-image" href="{{ BASE_URL }}{{ file.preview_image }}" target="_blank">View</a>
                                            </div>
                                            <div class="mb-2">
                                                <label for="added-at" class="form-label">Added At:</label>
                                                <p id="added-at">{{ file.added_at }}</p>
                                            </div>
                                            <div class="mb-2">
                                                <label for="updated-at" class="form-label">Updated At:</label>
                                                <p id="updated-at">{{ file.updated_at }}</p>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" style="overflow: auto;">
                                <canvas id="pdf-canvas" class="border border-secondary d-none"></canvas>
                                <div id="pageNumber" class="d-flex justify-content-center mt-2 gap-3 d-none">
                                    <a id="prev-page" class="btn btn-outline-primary"><i class="fa-solid fa-circle-left fa-lg"></i></a>
                                    <span>Page: <span id="page-num"></span> / <span id="page-count"></span></span>
                                    <a id="next-page" class="btn btn-outline-primary"><i class="fa-solid fa-circle-right fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                            
                        
                        <!-- Delete Question -->
                        <div class="modal fade" id="deleteQuestionModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Question</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>Do you want to delete the Question?</strong></p>
                                    </div>
                                    <form id="deleteQuestionForm">
                                        {% csrf_token %} 
                                        <div class="mb-3">
                                            <input hidden type="text" id="delete-question-id" name="delete_question_id">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <button type="button" class="btn btn-danger" id="question-delete" onclick="submitQuestionDeleteForm()">Yes</button>
                                        </div>
                                    </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                        <!-- Edit Question modal -->
                        <div class="modal fade" id="editQuestionModal" tabindex="-1" role="dialog" aria-labelledby="editQuestionModal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editQuestionModalTitle">Edit question</h5>
                                        <button type="button" class="btn-close" onclick="hideError()" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="editQuestionForm">
                                            {% csrf_token %} 
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="editquestion" class="form-label">Question</label>
                                                    <input hidden type="text" class="form-control" id="edit-question-id" name="edit_question_id" readonly>
                                                    <input type="text" class="form-control" id="editquestion" name="editquestion">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-question-type" class="form-label">Type</label>
                                                    <select id="edit-question-type" name="edit_question_type" class="form-select">
                                                        <option value="">Select</option>
                                                        <option value="required">Required</option>
                                                        <option value="optional">Optional</option>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-description" class="form-label">Description</label>
                                                    <input type="text" class="form-control" id="edit-description" name="edit_description">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="edit-link" class="form-label">Link</label>
                                                    <input type="text" class="form-control" id="edit-link" name="edit_link">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div id="editErrorContainer" style="color: red;"></div>
                                        <button type="button" class="btn btn-light" onclick="hideError()" data-bs-dismiss="modal">Close</button>
                                        <button type="button" onclick="submitQuestionEditForm()" class="btn btn-primary">Save</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{% endblock %}


{% block extra_js %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- init js -->
    <script src="{% static 'js/pages/datatable-pages.init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
    <script>
        // Add CSS to hide spin buttons
        const style = document.createElement('style');
        style.innerHTML = `
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            input[type="number"] {
                -moz-appearance: textfield; /* Hides the spin buttons in Firefox */
            }
        `;
        document.head.appendChild(style);

        // Disable scrolling with the mouse wheel
        document.getElementById('position').addEventListener('wheel', function(event) {
            event.preventDefault();
        });

        document.addEventListener('DOMContentLoaded', function() {
            const url = '{{ BASE_URL }}{{ file.url }}';
            
            let pdfDoc = null,
                pageNum = 1,
                pageIsRendering = false,
                pageNumIsPending = null,
                scale = 1.5,
                canvas = document.getElementById('pdf-canvas'),
                ctx = canvas.getContext('2d'),
                startX = 0,
                startY = 0,
                endX = 0,
                endY = 0,
                isMarking = false,
                currentRect = [],
                selectedQuestionId = null;
                answerInputType =  null;
                answerOutputType = null;
        
            const renderPage = num => {
                pageIsRendering = true;
        
                pdfDoc.getPage(num).then(page => {
                    const viewport = page.getViewport({ scale });
                    canvas.height = viewport.height;
                    canvas.width = viewport.width;
        
                    const renderCtx = {
                        canvasContext: ctx,
                        viewport
                    };
        
                    page.render(renderCtx).promise.then(() => {
                        pageIsRendering = false;
        
                        if (pageNumIsPending !== null) {
                            renderPage(pageNumIsPending);
                            pageNumIsPending = null;
                        }
                        canvas.classList.remove('d-none');
                        document.getElementById('pageNumber').classList.remove('d-none');
                        document.getElementById("loader").style.display = "none";

                        // Draw the current rectangle if it exists
                        if (currentRect.length != 0 && selectedQuestionId) {
                            for (let i = 0; i < currentRect.length; i++) {
                                if (currentRect[i].pageNum === pageNum){
                                    ctx.fillStyle = 'yellow';
                                    if (currentRect[i].answerInputType == 'single-checkbox' || currentRect[i].answerInputType == 'multiple-checkbox-single-choice-answer' || currentRect[i].answerInputType == 'multiple-checkbox-multiple-choice-answer'){
                                        ctx.fillRect(currentRect[i].startX * scale, currentRect[i].startY * scale, (currentRect[i].endX - currentRect[i].startX), (currentRect[i].endY - currentRect[i].startY));
                                    }
                                    else{
                                        ctx.fillRect(currentRect[i].startX * scale, currentRect[i].startY * scale, (currentRect[i].endX - currentRect[i].startX) * scale, (currentRect[i].endY - currentRect[i].startY) * scale);
                                    }
                                    
                                } 
                            }    
                        }
                    });
        
                    document.getElementById('page-num').textContent = num;
                });
            };
        
            const queueRenderPage = num => {
                if (pageIsRendering) {
                    pageNumIsPending = num;
                } else {
                    renderPage(num);
                }
            };
        
            const showPrevPage = () => {
                if (pageNum <= 1) {
                    pageNum = pdfDoc.numPages;
                }else {
                    pageNum--;
                }
                queueRenderPage(pageNum);
                document.getElementById('checkbox-text').classList.add('d-none');
            };
            
            const showNextPage = () => {
                if (pageNum >= pdfDoc.numPages) {
                    pageNum = 1;
                } else {
                    pageNum++;
                }
                queueRenderPage(pageNum);
                document.getElementById('checkbox-text').classList.add('d-none');
            };
        
            pdfjsLib.getDocument(url).promise.then(pdfDoc_ => {
                pdfDoc = pdfDoc_;
                document.getElementById('page-count').textContent = pdfDoc.numPages;
                renderPage(pageNum);
            }).catch(err => {
                console.error("Error loading PDF: ", err.message);
            });
        
            document.getElementById('prev-page').addEventListener('click', showPrevPage);
            document.getElementById('next-page').addEventListener('click', showNextPage);
        
            document.querySelectorAll('.question-checkbox').forEach(checkbox => {
                checkbox.addEventListener('change', function() {
                    const questionItem = this.closest('.question-item');
                    const questionId = questionItem.getAttribute('data-question-id');
                    const answerLocations = JSON.parse(questionItem.getAttribute('data-answer-locs'))
                    const questionText = questionItem.querySelector('p');
                    document.querySelectorAll('.question-item').forEach(q => q.style.backgroundColor = '');
                    document.querySelectorAll('.mark-answer-btn').forEach(btn => btn.classList.add('d-none'));
                   
                    selectedQuestionId = questionId;
        
                    if (this.checked) {
                        document.querySelectorAll('.question-checkbox').forEach(cb => cb.checked = false);
                        this.checked = true;
                        currentRect = [];
                        document.getElementById('answer-input-type').disabled=true;
                        document.getElementById('answer-output-type').disabled=true;

                        if (answerLocations.length != 0){
                            for (let i = 0; i < answerLocations.length; i++) {
                                // Retrieve answer location data
                                const startX = parseFloat(answerLocations[i].startX);
                                const endX = parseFloat(answerLocations[i].endX);
                                const startY = parseFloat(answerLocations[i].startY);
                                const endY = parseFloat(answerLocations[i].endY);
                                const page = parseFloat(answerLocations[i].pageNum);
                                const answerInputType = answerLocations[i].answerInputType;
                                // Push each answer location to the currentRect array
                                currentRect.push({ startX, startY, endX, endY, pageNum:page, answerInputType: answerInputType});
                            }
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            renderPage(pageNum);
                        }else{
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            document.getElementById('answer-input-type').disabled=false;
                            document.getElementById('answer-output-type').disabled=false;
                            renderPage(pageNum);
                        }
                        document.getElementById('answer-input-type').addEventListener('change', function() {
                            answerInputType = this.value;
                            startX = 0; startY = 0; endX = 0; endY = 0;
                            currentRect = [];
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            renderPage(pageNum);
                            questionItem.querySelector('.mark-answer-btn').classList.add('d-none');
                            document.getElementById('checkbox-text').classList.add('d-none');
                            document.getElementById('ansDatatypeErrorContainer').innerText='';
                        });
                        document.getElementById('answer-output-type').addEventListener('change', function() {
                            document.getElementById('ansDatatypeErrorContainer').innerText='';
                        });
                        document.getElementById('input-type-dropdown').classList.remove('d-none');
                        document.getElementById('output-type-dropdown').classList.remove('d-none');
                    } else {
                        currentRect = [];
                        selectedQuestionId = null;
                        answerInputType = null;
                        ctx.clearRect(0, 0, canvas.width, canvas.height);
                        renderPage(1); // Render the first page or any default page
                        questionItem.querySelector('.mark-answer-btn').classList.add('d-none');
                        document.getElementById('answer-input-type').value='';
                        document.getElementById('answer-output-type').value='';
                        document.getElementById('ansDatatypeErrorContainer').innerText='';
                        document.getElementById('input-type-dropdown').classList.add('d-none');
                        document.getElementById('output-type-dropdown').classList.add('d-none');
                        document.getElementById('checkbox-text').classList.add('d-none');
                    }
                });
            });
        
            canvas.addEventListener('mousedown', function(event) {
                if (!selectedQuestionId || (answerInputType != 'single-line' && answerInputType != 'multiline')) return;
                if (!document.getElementById('checkbox-text').classList.contains('d-none') && answerInputType == 'multiline') return;
                isMarking = true;
                const rect = canvas.getBoundingClientRect();
                startX = (event.clientX - rect.left) / scale; 
                startY = (event.clientY - rect.top) / scale; 
            });
            
        
            canvas.addEventListener('mouseup', function(event) {
                if (!isMarking || !selectedQuestionId || (answerInputType != 'single-line' && answerInputType != 'multiline')) return;
                if (!document.getElementById('checkbox-text').classList.contains('d-none') && answerInputType == 'multiline') return;
                isMarking = false;
                document.getElementById('CheckboxErrorContainer').innerText = '';
                document.querySelectorAll('.mark-answer-btn').forEach(btn => btn.classList.add('d-none'));
            
                const rect = canvas.getBoundingClientRect();
                endX = (event.clientX - rect.left) / scale;  
                endY = (event.clientY - rect.top) / scale; 
                endY = startY + 20 / scale;

                const threshold = 14;
                const distance = Math.sqrt(Math.pow(endX - startX, 2) + Math.pow(endY - startY, 2));    
                if (distance <= threshold) return; 

                ctx.fillStyle = 'rgba(0, 255, 255, 0.5)';
                ctx.fillRect(startX * scale, startY * scale, (endX - startX) * scale, (endY - startY) * scale); 
                
                var newRect = { startX, startY, endX, endY, pageNum, answerInputType};
                if (answerInputType == 'multiline') {
                    document.getElementById('checkbox-text').classList.remove('d-none');
                    document.getElementById('checkbox-value').classList.add('d-none')
                    document.getElementById('checkbox-value-label').classList.add('d-none')
                    
                    // Remove any previous event listener
                    const button = document.getElementById('checkbox-value-button');
                    const newButton = button.cloneNode(true);
                    button.parentNode.replaceChild(newButton, button);
            
                    newButton.addEventListener('click', function() {
                        const position = document.getElementById('position').value;
                        if (!position || position < 1) {
                            document.getElementById('CheckboxErrorContainer').innerText = "Position value is required";
                            return;
                        }
            
                        newRect.position = parseInt(position);
                        currentRect.push(newRect);
            
                        document.getElementById('CheckboxErrorContainer').innerText = '';
                        document.getElementById('checkbox-text').classList.add('d-none');
                        document.getElementById('checkbox-value').classList.remove('d-none')
                        document.getElementById('checkbox-value-label').classList.remove('d-none')

                        document.querySelectorAll('.question-item').forEach(item => {
                            if (item.getAttribute('data-question-id') === selectedQuestionId  && document.getElementById('checkbox-text').classList.contains('d-none')) {
                                item.querySelector('.mark-answer-btn').classList.remove('d-none');
                            }
                        });
                    });
                    
                } else {
                    currentRect.push(newRect);
                    document.querySelectorAll('.question-item').forEach(item => {
                        if (item.getAttribute('data-question-id') === selectedQuestionId) {
                            item.querySelector('.mark-answer-btn').classList.remove('d-none');
                        }
                    });
                }
                
            });
            
            canvas.addEventListener("dblclick", function(event) {
                if (!selectedQuestionId || (answerInputType != 'single-checkbox' && answerInputType != 'multiple-checkbox-single-choice-answer' && answerInputType != 'multiple-checkbox-multiple-choice-answer')) return;
                if (!document.getElementById('checkbox-text').classList.contains('d-none') && (answerInputType == 'multiple-checkbox-single-choice-answer' || answerInputType == 'multiple-checkbox-multiple-choice-answer')) return;

                document.getElementById('CheckboxErrorContainer').innerText = '';
                document.querySelectorAll('.mark-answer-btn').forEach(btn => btn.classList.add('d-none'));

                const rect = canvas.getBoundingClientRect();
                const x = (event.clientX - rect.left) / scale; 
                const y = (event.clientY - rect.top) / scale;
            
                // Draw a small filled square on the canvas
                ctx.fillStyle = 'red';
                ctx.fillRect(x*scale, y*scale, 15, 15);
            
                startX = x; startY = y; endX = x + 15; endY = y + 15;
            
                var newRect = { startX, startY, endX, endY, pageNum, answerInputType};
            
                if (answerInputType == 'multiple-checkbox-single-choice-answer' || answerInputType == 'multiple-checkbox-multiple-choice-answer') {
                    document.getElementById('checkbox-text').classList.remove('d-none');
            
                    // Remove any previous event listener
                    const button = document.getElementById('checkbox-value-button');
                    const newButton = button.cloneNode(true);
                    button.parentNode.replaceChild(newButton, button);
            
                    newButton.addEventListener('click', function() {
                        const value = document.getElementById('checkbox-value').value;
                        const position = document.getElementById('position').value;
                        if (!value || !position || position < 1) {
                            document.getElementById('CheckboxErrorContainer').innerText = "Checkbox value and position value are required";
                            return;
                        }
            
                        newRect.value = value;
                        newRect.position = parseInt(position);
                        currentRect.push(newRect);
            
                        document.getElementById('checkbox-value').value = '';
                        document.getElementById('checkbox-text').classList.add('d-none');
                        document.getElementById('CheckboxErrorContainer').innerText = '';

                        document.querySelectorAll('.question-item').forEach(item => {
                            if (item.getAttribute('data-question-id') === selectedQuestionId  && document.getElementById('checkbox-text').classList.contains('d-none')) {
                                item.querySelector('.mark-answer-btn').classList.remove('d-none');
                            }
                        });
                    });
                } else {
                    currentRect.push(newRect);
                    document.querySelectorAll('.question-item').forEach(item => {
                        if (item.getAttribute('data-question-id') === selectedQuestionId) {
                            item.querySelector('.mark-answer-btn').classList.remove('d-none');
                        }
                    });
                }
           
            });
            
            
            document.querySelectorAll('.mark-answer-btn').forEach(btn => {
                btn.addEventListener('click', function() {
                    if (!currentRect || !selectedQuestionId) return;
                    answerOutputType =  document.getElementById('answer-output-type').value;
                    if(answerOutputType == ''){
                        document.getElementById('ansDatatypeErrorContainer').innerText = "Data type is required for answer";
                        return;
                    }
                
                    currentRect.forEach(obj => {
                        obj['answerOutputType'] = answerOutputType;
                    });
                    const markerData = {
                        currentRect,
                        edit_question_id: selectedQuestionId,
                        document_id: '{{ file.id }}'
                    };
        
                    fetch("{% url 'forms_save_marker' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(markerData)
                    }).then(response => {
                        if (!response.ok) {
                            var toastDiv = document.getElementById('toast-type');
                            toastDiv.classList.add('bg-danger');
                            document.querySelector('.toast-body').innerText="Something went wrong";  
                        }
                        return response.json();
                    }).then(data => {
                        if (data.success){
                            var toastDiv = document.getElementById('toast-type');
                            toastDiv.classList.add('bg-success');
                            document.querySelector('.toast-body').innerText="Answer location marked successfully!";
                        }else{
                            var toastDiv = document.getElementById('toast-type');
                            toastDiv.classList.add('bg-danger');
                            document.querySelector('.toast-body').innerText=data.error;  
                        }
                    }).catch(error => {
                        var toastDiv = document.getElementById('toast-type');
                        toastDiv.classList.add('bg-danger');
                        document.querySelector('.toast-body').innerText="Something went wrong";  
                    }).finally(() => {
                        // Show the toast after setting the text content
                        var successToast = document.getElementById('borderedToast2');
                        var toast = new bootstrap.Toast(successToast);
                        toast.show();
                    
                        // Reset the state
                        btn.classList.add('d-none');
                        currentRect = [];
                        selectedQuestionId = null;
                    });
                });
            });
        });
        
        
        function refreshPage(){
            location.reload();
        }

        function hideError(){
            var addQuestionForm = document.getElementById('addQuestionForm');
            var editQuestionForm = document.getElementById('editQuestionForm');
            var errorContainer = document.getElementById('errorContainer');
            var editerrorContainer = document.getElementById('errorContainer');
            if (errorContainer){
                errorContainer.innerText = '';
            }
            if(editerrorContainer){
                editerrorContainer.innerText = '';
            }
            if(addQuestionForm){
                addQuestionForm.reset();
            }
            if(editQuestionForm){
                editQuestionForm.reset();
            }
        }
        

        document.addEventListener('DOMContentLoaded', function() {
            const editButtons = document.querySelectorAll('.edit-question');
            editButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    var questionData = event.currentTarget.dataset.question;
                    var questionParts = questionData.split(',');
                    document.getElementById('edit-question-id').value = questionParts[0];
                    document.getElementById('editquestion').value = questionParts[1];
                    var editQuestionType = document.getElementById('edit-question-type')
                    var options = editQuestionType.options;

                    for (var i = 0; i < options.length; i++) {
                        if (options[i].value.trim() == questionParts[2].trim()) {
                            options[i].selected = true;
                            break;
                        }
                    }
                    
                    if (questionParts[3].trim() === "None"){
                        questionParts[3] = '';
                    }
                    if (questionParts[4].trim() === "None"){
                        questionParts[4] = '';
                    }
                    document.getElementById('edit-description').value = questionParts[3];
                    document.getElementById('edit-link').value = questionParts[4];
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const editButtons = document.querySelectorAll('.delete-question');
            editButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    const question_id = event.currentTarget.dataset.question;
                    document.getElementById('delete-question-id').value = question_id;
                });
            });
        });


        function submitQuestionAddForm() {
            const form = document.getElementById('addQuestionForm');
            var successToast = document.getElementById('borderedToast2');
            var errorContainer = document.getElementById('errorContainer');
            const formData = new FormData(form);

            // Add additional key-value pairs to the FormData object
            formData.append('document_id', '{{ file.id }}');

            var question = formData.getAll('question');
            const hasEmptyValue = question.some(value => value === "");
            var questionType = document.getElementById("question-type");
           
            if (hasEmptyValue || questionType.value==='') {
                errorContainer.innerText = 'Please fill required field!';
                return;
            }
            formData.append('question_type', questionType.value);

            // Make the API call
            fetch("{% url 'flforms_questions' %}", { 
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    var toastDiv = document.getElementById('toast-type');
                    toastDiv.classList.add('bg-danger');
                    document.querySelector('.toast-body').innerText="Something went wrong"; 
                }
                return response.json();
            })
            .then(data => {
                if (data.success){
                    var toastDiv = document.getElementById('toast-type');
                    toastDiv.classList.add('bg-success');
                    document.querySelector('.toast-body').innerText="Question added successfully!";
                }else{
                    var toastDiv = document.getElementById('toast-type');
                    toastDiv.classList.add('bg-danger');
                    document.querySelector('.toast-body').innerText=data.error;  
                }
                $('#QuestionModal').modal('hide');
                var toast = new bootstrap.Toast(successToast);
                toast.show();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
            document.getElementById("question-add").disabled = true;
        }

        function submitQuestionEditForm() {
            const form = document.getElementById('editQuestionForm');
            var successToast = document.getElementById('borderedToast2');
            var errorContainer = document.getElementById('editErrorContainer');

            const formData = new FormData(form);

            // Add additional key-value pairs to the FormData object
            formData.append('document_id', '{{ file.id }}');
        
            // Make the API call
            fetch("{% url 'flforms_questions_edit' %}", { 
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success){
                    var toastDiv = document.getElementById('toast-type');
                    toastDiv.classList.add('bg-success');
                    document.querySelector('.toast-body').innerText="Question updated successfully!";
                }else{
                    var toastDiv = document.getElementById('toast-type');
                    toastDiv.classList.add('bg-danger');
                    document.querySelector('.toast-body').innerText=data.error;  
                }
                $('#editQuestionModal').modal('hide');
                var toast = new bootstrap.Toast(successToast);
                toast.show();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }


        function submitQuestionDeleteForm() {
            const form = document.getElementById('deleteQuestionForm');
            var successToast = document.getElementById('borderedToast2');
            const formData = new FormData(form);

            // Add additional key-value pairs to the FormData object
            formData.append('document_id', '{{ file.id }}');
        
            // Make the API call
            fetch("{% url 'flforms_questions_delete' %}", { 
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success){
                    var toastDiv = document.getElementById('toast-type');
                    toastDiv.classList.add('bg-success');
                    document.querySelector('.toast-body').innerText="Question deleted successfully!";
                }else{
                    var toastDiv = document.getElementById('toast-type');
                    toastDiv.classList.add('bg-danger');
                    document.querySelector('.toast-body').innerText=data.error;  
                }
                $('#deleteQuestionModal').modal('hide');
                var toast = new bootstrap.Toast(successToast);
                toast.show();
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
            document.getElementById('question-delete').disabled = true;
        }

    </script>
{% endblock %}
