{% extends 'partials/base.html' %}
{% load static %}
{% block head_title%}
        <title>chat</title>
{% endblock %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Chat</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Apps</a></li>
                                <li class="breadcrumb-item active">Chat</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="d-lg-flex">
                <div class="chat-leftsidebar card">
                    <div class="p-3 px-4 border-bottom">
                        <div class="d-flex align-items-start ">
                            <div class="flex-shrink-0 user-img online align-self-center me-3">
                                <div class="avatar-sm align-self-center">
                                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary">
                                        A
                                    </span>
                                </div>
                            </div>

                            <div class="flex-grow-1">
                                <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Admin <i
                                            class="mdi mdi-circle text-success align-middle font-size-10 ms-1"></i></a>
                                </h5>
                                <p class="text-muted mb-0">Available</p>
                            </div>
                        </div>
                    </div>

                    <div class="chat-leftsidebar-nav">
                        <ul class="nav nav-pills nav-justified bg-light-subtle p-1">
                            <li class="nav-item">
                                <a href="#chat" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                                    <i class="bx bx-chat font-size-20 d-sm-none"></i>
                                    <span class="d-none d-sm-block">Chat</span>
                                </a>
                            </li>
                        </ul>

                       
                        
                        <div class="tab-content">
                            <div class="tab-pane show active" id="chat">
                                <div class="chat-message-list" data-simplebar style="max-height: 500px;">
                                 <div class="pt-3">
                                    <div class="px-3">
                                        <h5 class="font-size-14 mb-3">Users</h5>
                                    </div>
                                  {% for user in users %}
                                    <ul class="list-unstyled chat-list">
                                        
                                        <li class="unread">
                                            <a href="#" onclick="showChat('{{ user.email }}')">
                                                <div class="d-flex align-items-start">
                                                    <div
                                                        class="flex-shrink-0 user-img online align-self-center me-3">
                                                        <div class="avatar-sm align-self-center">
                                                            <span
                                                                class="avatar-title rounded-circle bg-primary-subtle text-primary">
                                                                {{ user.email.0 }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <h5 class="text-truncate font-size-13 mb-2">{{user.email}}
                                                        </h5>
                                                        {% if user.unseen_msg %}
                                                        <p class="text-truncate mb-0" id="latest-msg">{{ user.latest_chat.message }}</p>
                                                        <p class="text-truncate mb-0" id="latest-time">{{ user.latest_chat.timestamp }}</p>
                                                        <div class="unread-message">
                                                            <div class="font-size-11" id="unread-message-number-{{ user.email }}"><span class="badge bg-danger rounded-pill">{{ user.unseen_msg.messages | length }}</span></div>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                 {% endfor %}
                                 </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end chat-leftsidebar -->
                {% for user in users %}
                <div class="w-100 user-chat mt-4 mt-sm-0 ms-lg-1 d-none">
                    <div class="card">
                        <div class="p-3 px-lg-4 border-bottom shadow-lg">
                            <div class="row">
                                <div class="col-xl-4 col-7">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 user-img online align-self-center me-3">
                                            <div class="avatar-sm align-self-center">
                                                <span
                                                    class="avatar-title rounded-circle bg-primary-subtle text-primary">
                                                    {{ user.email.0 }}
                                                </span>
                                            </div>

                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="font-size-14 mb-1 text-truncate"><a href="#"
                                                    class="text-dark user-email">{{ user.email }}</a></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="chat-conversation p-3" data-simplebar id="chat-container-{{ user.email }}">
                            <ul class="list-unstyled mb-0" id="chat-ul-{{ user.uuid }}">
                                {% for chat in user.chats.messages %}
                                {% if not chat.is_response %}
                                <li>
                                    <div class="conversation-list">
                                        <div class="d-flex">
                                            <div class="avatar-sm align-self-center">
                                                <span
                                                    class="avatar-title rounded-circle bg-primary-subtle text-primary">
                                                    {{ user.email.0 }}
                                                </span>
                                            </div>

                                            <div class="flex-1">
                                                <div class="ctext-wrap">
                                                    <div class="ctext-wrap-content">
                                                        <h5 class="conversation-name"><span class="time">{{chat.timestamp}}</span></h5>
                                                        <p class="mb-0">{{ chat.message }}</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </li>


                                {% else %}
                                <li class="right">
                                    <div class="conversation-list">
                                        <div class="d-flex">
                                            <div class="flex-1">
                                                <div class="ctext-wrap">
                                                    <div class="ctext-wrap-content">
                                                        <h5 class="conversation-name"><span class="time">{{chat.timestamp}}</span></h5>
                                                        <p class="mb-0">{{ chat.message }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="avatar-sm align-self-center">
                                                <span
                                                    class="avatar-title rounded-circle bg-primary-subtle text-primary">
                                                    A
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                </li>
                                {% endif %}
                                {% endfor %}

                            </ul>
                        </div>
                        
                        <div class="p-3 border-top">
                            <div class="row">
                                <div class="col">
                                    <div class="position-relative">
                                        <input id="adminMessage-{{ user.uuid }}" type="text" class="form-control border bg-light-subtle"
                                            placeholder="Enter Message...">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button type="submit"
                                        class="btn btn-primary chat-send w-md waves-effect waves-light" onclick="saveResponse('{{ user.email }}','{{ user.uuid }}')"><span
                                            class="d-none d-sm-inline-block me-2">Send</span> <i
                                            class="mdi mdi-send float-end"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
                <!-- end user chat -->
            </div>
            <!-- End d-lg-flex  -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>

<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>

<script>

    function scrollToLastMessage(userEmail){
        var myElement = document.getElementById("chat-container"+"-"+userEmail);
        if (myElement) {
            var simpleBarInstance = new SimpleBar(myElement);
            var scrollElement = simpleBarInstance.getScrollElement();
            if (scrollElement) {
                scrollElement.scrollTop = scrollElement.scrollHeight;
            }
        }
    }
    

    function showChat(userEmail) {
        $('.user-chat').addClass('d-none');
        $('.user-chat').each(function () {
            if ($(this).find('.user-email').text().trim() === userEmail) {
                $(this).removeClass('d-none');
                scrollToLastMessage(userEmail);
                return false;
            }
        });

        var payload = {
            email: userEmail,
        };

        document.getElementById('unread-message-number-' + userEmail)?.classList.add('d-none');
        var latestMsg = document.getElementById('latest-msg')
        var latestTime = document.getElementById('latest-time')

        if (latestMsg) {
            latestMsg.innerHTML = '';
        }
        if (latestTime) {
            latestTime.innerHTML = '';
        }
        var csrfToken = "{{ csrf_token }}";

        fetch("{% url 'chat_status' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(payload)
        })
        .then(response => {
            if (response.ok) {
                console.log('message seen successfully!');
            } else {
                console.error('Failed to update');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function saveResponse(userEmail, userUuid) {
        var message = document.getElementById('adminMessage'+'-'+ userUuid);
        var currentTime = new Date().toLocaleTimeString();

        if(!message.value){
            alert("message or is missing!");
            return;
        }
        
       
        var payload = {
            user_id: userUuid,
            session_id: userUuid,
            message: message.value,
            is_response: true,
            is_seen: false
        };

        var listItem = document.createElement('li');
        listItem.classList.add('right');

        // Create the content for the new list item
        var content = `
                <div class="conversation-list">
                    <div class="d-flex">
                        <div class="flex-1">
                            <div class="ctext-wrap">
                                <div class="ctext-wrap-content">
                                    <div class="conversation-name"><span class="time" id="admin-resp-time-${userUuid}"></span></div>
                                    <p class="mb-0" id="admin-response-${userUuid}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="avatar-sm align-self-center">
                            <span class="avatar-title rounded-circle bg-primary-subtle text-primary">A</span>
                        </div>
                    </div>
                </div>
            `;


        listItem.innerHTML = content;

        // Set the content for admin response and admin response time
        var adminResponseElement = listItem.querySelector(`#admin-response-${userUuid}`);
        var adminRespTimeElement = listItem.querySelector(`#admin-resp-time-${userUuid}`);
        adminResponseElement.textContent = message.value;
        adminRespTimeElement.textContent = currentTime;
        console.log(adminResponseElement.textContent)
        //Append the new list item to the ul element
        var ulElement = document.getElementById('chat-ul'+'-'+userUuid);
        ulElement.appendChild(listItem);
        scrollToLastMessage(userEmail);
        message.value = '';

        var csrfToken = "{{ csrf_token }}";
        
        fetch("{% url 'send_response' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(payload)
        })
        .then(response => {
            if (response.ok) {
                console.log('message sent successfully!');
            } else {
                console.error('Failed to update');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });

    }

    //MQTT Javascript Setup
    var brokerUrl = "ws://155.138.160.153:8083/mqtt";
    var clientId = "test-client_" + Math.random().toString(16).substr(2, 8);

    // Create a client instance
    var client = new Paho.MQTT.Client(brokerUrl, clientId);

    // Set callback handlers
    client.onConnectionLost = onConnectionLost;
    client.onMessageArrived = onMessageArrived;

    // Connect the client
    client.connect({ onSuccess: onConnect, useSSL: false });


    // Called when the client connects
    function onConnect() {
        console.log("Connected to MQTT broker");

        var users = [
            {% for user in users %}
                "{{ user.email }}",
            {% endfor %}
        ];

        // Subscribe to topics for each user
        users.forEach(function (email) {
            client.subscribe("user_chat/" + email);
        });
    }
 
 
    // Called when the client loses its connection
    function onConnectionLost(responseObject) {
        if (responseObject.errorCode !== 0) {
            alert("Connection lost: " + responseObject.errorMessage);
        }
    }
 
    // Called when a message arrives
    function onMessageArrived(message) {
        var payload = JSON.parse(message.payloadString);
        console.log("Message received: ", payload);

        if (!payload.is_response) {
            alert('New message received from the User!');
            location.reload();
        }
 
    }

</script>
{% endblock extra_js %}
