{% extends 'partials/base.html' %}
{% load static %}
{% load custom_tags %}
{% block head_title%}
        <title>Property-Chat</title>
{% endblock %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Property-Chat</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item active">Property-Chat</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="d-lg-flex">
                <div class="chat-leftsidebar card">
                    <div class="p-3 px-4 border-bottom">
                        <div class="d-flex align-items-start ">
                            <div class="flex-shrink-0 user-img online align-self-center me-3">
                                <div class="avatar-sm align-self-center">
                                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary">
                                        A
                                    </span>
                                </div>
                            </div>

                            <div class="flex-grow-1">
                                <h5 class="font-size-16 mb-1"><a href="#" class="text-dark">Admin <i
                                            class="mdi mdi-circle text-success align-middle font-size-10 ms-1"></i></a>
                                </h5>
                                <p class="text-muted mb-0">Available</p>
                            </div>
                        </div>
                    </div>

                    <div class="chat-leftsidebar-nav">
                        <ul class="nav nav-pills nav-justified bg-light-subtle p-1">
                            <li class="nav-item">
                                <a href="#chat" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                                    <i class="bx bx-chat font-size-20 d-sm-none"></i>
                                    <span class="d-none d-sm-block">Chat</span>
                                </a>
                            </li>
                        </ul>

                       
                        
                        <div class="tab-content">
                            <div class="tab-pane show active" id="chat">
                                <div class="chat-message-list" data-simplebar style="max-height: 500px;">
                                 <div class="pt-3">
                                    <div class="px-3">
                                        <h5 class="font-size-14 mb-3">Users</h5>
                                    </div>
                                  {% for user in users %}
                                  
                                    <ul class="list-unstyled chat-list">
                                        
                                        <li class="unread">
                                            <a href="#" onclick="showChat('{{ user|to_json|escapejs }}')">
                                                <div class="d-flex align-items-start">
                                                    <div
                                                        class="flex-shrink-0 user-img online align-self-center me-3">
                                                        <div class="avatar-sm align-self-center">
                                                            <span
                                                                class="avatar-title rounded-circle bg-primary-subtle text-primary">
                                                                {{ user.name.0|capfirst }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 overflow-hidden">
                                                        <p class="mb-2">{{user.name}}</p>
                                                        
                                                        <h5 class="font-size-13 mb-2">{{ user.property_id }}</h5>
                                                        <h5 class="font-size-13 mb-2">{{ user.property_address }}</h5>
                                                        {% if user.unseen_message_count > 0 %}
                                                            <div class="unread-message">
                                                                <div class="font-size-11" id="unread-message-number-{{ user.email }}"><span class="badge bg-danger rounded-pill">{{ user.unseen_message_count }}</span></div>
                                                            </div> 
                                                        {% endif %}
                                                        
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                 {% endfor %}
                                 </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end chat-leftsidebar -->
                
                <div id="chatSection" class="w-100 user-chat mt-4 mt-sm-0 ms-lg-1 d-none">
                    <div class="card">
                        <div class="p-3 px-lg-4 border-bottom shadow-lg">
                            <div class="row">
                                <div class="col-xl-4 col-7">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 user-img online align-self-center me-3">
                                            <div class="avatar-sm align-self-center">
                                                <span
                                                    class="avatar-title rounded-circle bg-primary-subtle text-primary" id="userInitials">
                                                </span>
                                            </div>

                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="font-size-14 mb-1 text-truncate" id="userFullName">hello</h5>
                                            <h5 class="font-size-12 mb-1 text-truncate" id="userEmail">bolo</h5>       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <div class="chat-conversation p-3" data-simplebar id="chat-container">
                            <ul id="chat-ul" class="list-unstyled mb-0">
                               
                            </ul>
                        </div>
                        
                        <div class="p-3 border-top">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="w-100 d-flex align-items-center">
                                        <div class="w-100 position-relative">
                                            <input id="adminMessage" type="text" class="form-control border bg-light-subtle"
                                                placeholder="Enter Message...">
                                        </div>
                                        <div class="d-flex align-items-baseline">
                                            <label for="files" class="btn btn-link text-decoration-none font-size-20 btn-lg waves-effect mb-0">
                                            <i class="fa-solid fa-file  fa-2x"></i>
                                            <input id="files" type="file" name="fileInput" style="display: none;">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button id="sendButton" type="submit"
                                        class="btn btn-primary chat-send w-md waves-effect waves-light"><span
                                            class="d-none d-sm-inline-block me-2">Send</span> <i
                                            class="mdi mdi-send float-end"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end user chat -->
            </div>
            <!-- End d-lg-flex  -->

        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->


    {% block footer %}
    {% include 'partials/footer.html' %}
    {% endblock footer %}
</div>

<!-- end main content-->
{% endblock content %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>

<script>
    var data=null;
    var message_content=null;
    function scrollToLastMessage(){
        var myElement = document.getElementById("chat-container");
        if (myElement) {
            var simpleBarInstance = new SimpleBar(myElement);
            var scrollElement = simpleBarInstance.getScrollElement();
            if (scrollElement) {
                scrollElement.scrollTop = scrollElement.scrollHeight;
            }
        }
    }

   
   function showChat(user) {
        var userData = JSON.parse(user);
        console.log("userData is", userData);
        document.getElementById('userInitials').innerHTML = userData.name.charAt(0).toUpperCase();
        document.getElementById('userFullName').innerHTML = userData.name;
        document.getElementById('userEmail').innerHTML = userData.email;

        document.getElementById('unread-message-number-' + userData.email)?.classList.add('d-none');
        

        var api_url = `${userData.property_id}/${userData.user_id}`;
        fetch(api_url)
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to fetch data');
                }
            })
            .then(data => {
                var message_content = data.message_content;
                var listContainer = document.getElementById('chat-ul');
                // Clear previous messages
                listContainer.innerHTML = '';

                // Check if message_content is available and not empty
                if (Array.isArray(message_content) && message_content.length > 0) {
                    message_content.forEach(chat => {
                        var listItem = document.createElement('li');
                        listItem.classList.add(chat.is_response ? 'right' : 'left');
                        var innerHTML = `
                            <div class="conversation-list">
                                <div class="d-flex">
                        `;
                        // If it's a left message, add avatar before message content
                        if (!chat.is_response) {
                            innerHTML += `
                                <div class="avatar-sm align-self-center">
                                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary">${userData.name.charAt(0).toUpperCase()}</span>
                                </div>
                            `;
                        }
                        innerHTML += `
                                    <div class="flex-1">
                                        <div class="ctext-wrap">
                                            <div class="ctext-wrap-content">
                                                <h5 class="conversation-name"><span class="time">${chat.timestamp}</span></h5>
                        `;
                        if (chat.message) {
                            innerHTML += `<p class="mb-0">${chat.message}</p>`;
                        }
                        if (chat.media) {
                            var parts = chat.media.split("/");
                            var filename = parts[parts.length - 1];
                            if (chat.media.endsWith('.jpg') || chat.media.endsWith('.jpeg') || chat.media.endsWith('.png')) {
                                innerHTML += `<a href="{{ API_URL }}${chat.media}" target="_blank" download><i class="fa-regular fa-image fa-lg"></i> ${filename}</a>`;
                            } else {
                                innerHTML += `<a href="{{ API_URL }}${chat.media}" target="_blank" download><i class="fa-solid fa-file-lines fa-lg"></i> ${filename}</a>`;
                            }
                        }
                        innerHTML += `
                                            </div>
                                        </div>
                                    </div>
                        `;
                        // If it's a right message, add avatar after message content
                        if (chat.is_response) {
                            innerHTML += `
                                <div class="avatar-sm align-self-center">
                                    <span class="avatar-title rounded-circle bg-primary-subtle text-primary">A</span>
                                </div>
                            `;
                        }
                        innerHTML += `
                                </div>
                            </div>
                        `;
                        listItem.innerHTML = innerHTML;
                        listContainer.appendChild(listItem);
                    });
                } else {
                    // If no messages available, display a message
                    var listItem = document.createElement('li');
                    listItem.textContent = "No messages available.";
                    listContainer.appendChild(listItem);
                }

                document.getElementById('chatSection').classList.remove('d-none');
                scrollToLastMessage();
            })
            .catch(error => {
                console.error(error);
            });

    }   

    
    document.addEventListener('DOMContentLoaded', function() {
        var sendButton = document.getElementById('sendButton');
    
        sendButton.addEventListener('click', function(event) {
            event.preventDefault();
    
            var messageInput = document.getElementById('adminMessage');
            var fileInput = document.getElementById('files');
            var formData = new FormData();
    
            // Check if both message and file are blank
            if (messageInput.value.trim() === "" && fileInput.files.length === 0) {
                return; // Exit the function early if both message and file are blank
            }
    
            // Check if message is provided and append it to formData
            if (messageInput.value.trim() !== "") {
                formData.append('message', messageInput.value);
            }
    
            // Check if file is provided and append it to formData
            if (fileInput.files.length > 0) {
                var file = fileInput.files[0];
                formData.append('media_file', file);
            }
    
            // Append other form data
            formData.append('property_id', data.property_id);
            formData.append('user_id', data.user_id);
            formData.append('property_address', data.property_address);
    
            // Log form data for verification
            formData.forEach((value, key) => {
                console.log(key, value);
            });
    
            var csrfToken = "{{ csrf_token }}";
    
            // Send form data
            fetch("{% url 'send_response' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                },
                body: formData 
            })
            .then(response => {
                if (response.ok) {
                    console.log('Message sent successfully!', response);
                } else {
                    console.error('Failed to send message');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    
            // Reset input fields after sending message
            messageInput.value = '';
            fileInput.value = '';
        });
    });


    function toggleSendButton() {
        var messageValue = messageInput.value.trim();
        var fileValue = fileInput.value.trim();
        
        if (messageValue !== '' || fileValue !== '') {
            sendButton.disabled = false;
        } else {
            sendButton.disabled = true;
        }
    }

    

   

</script>
{% endblock extra_js %}
