<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    
    <script>
        const mqttWebsocketUrl = '{{ MQTT_WEBSOCKET_URL }}';
        var brokerUrl = mqttWebsocketUrl;
        var clientId = "test-client_" + Math.random().toString(16).substr(2, 8);

        // const options = {
        //     userName: '{{ MQTT_USERNAME }}',
        //     password: '{{ MQTT_PASSWD }}',
        //     onSuccess: onConnect,
        //     onFailure: onFailure,
        // };

        // Create a client instance
        var client = new Paho.MQTT.Client(brokerUrl, clientId);

        // Set callback handlers
        client.onConnectionLost = onConnectionLost;
        client.onMessageArrived = onMessageArrived;

        // Connect the client
        client.connect({
            userName: '{{ MQTT_USERNAME }}',
            password: '{{ MQTT_PASSWD }}',
            onSuccess: onConnect,
            onFailure: onFailure,
        });

        // Called when the client connects
        function onConnect() {
            console.log("Connected to MQTT broker");

            var users = [
                {% for user in all_users %}
                    "{{ user.email }}",
                {% endfor %}
            ];

            var properties = [
                {% for property in properties %}
                    "{{ property.property_id }}",
                {% endfor %}
            ];
            
            // Subscribe to topics for each user
            users.forEach(function (email) {
                client.subscribe("user_chat/" + email);
                properties.forEach(function (property_id) {
                    client.subscribe(`user_customer_service_property_chat/${email}/${property_id}`);
                });
            });
        }

        function onFailure(error) {
            console.error('Failed to connect to MQTT broker:', error.errorMessage);
        }

        // Called when the client loses its connection
        function onConnectionLost(responseObject) {
            if (responseObject.errorCode !== 0) {
                alert("Connection lost: " + responseObject.errorMessage);
            }
        }

        // Called when a message arrives
        function onMessageArrived(message) {
            
            var payload = JSON.parse(message.payloadString);
            console.log("Message received: ", payload.message_content[0]);
            
            if (!payload.message_content[0].is_response) {
                
                if (payload.hasOwnProperty('key') && payload.key === 'user-customer_service-property-chat') {
                    try {
                            // Parse the property users from the JSON embedded in the HTML
                            var property_users = JSON.parse(document.getElementById('property-users').innerText);
                            var parsed_property_user = JSON.parse(temp_user);

                            // Check if property_users is an array and proceed with the logic
                            if (Array.isArray(property_users)) {
                                if (property_users.length === 0) {
                                    window.location.reload();
                                } else {
                                    const userExists = property_users.some(user => user.user_id === payload.message_content[0].msg_id && user.property_id === payload.property_id);
                                    if (!userExists) {
                                        window.location.reload();
                                    } else {
                                        if (payload.message_content[0].msg_id != parsed_property_user.user_id || payload.property_id != parsed_property_user.property_id) {
                                            var unreadMessageNumberDiv = document.getElementById(`unread-message-number-${payload.message_content[0].msg_id}-${payload.property_id}`)?.classList.remove('d-none');
                                            var badgeSpan = unreadMessageNumberDiv.querySelector('span');
                                            if (badgeSpan) {
                                                badgeSpan.textContent = '1'; 
                                            }
                                        }
                                        
                                        if (payload.message_content[0].msg_id === parsed_property_user.user_id && payload.property_id === parsed_property_user.property_id) {
                                            showPropertyChat(temp_user, "realtime-message");  
                                        }
                                    
                                    }
                                }
                            } else {
                                console.log("chat_users is not an array.");
                            }
                        } catch (e) {
                            console.log("Error", e);
                        }
                }   
                else{
                    try {
                            // Parse the chat users from the JSON embedded in the HTML
                            var chat_users = JSON.parse(document.getElementById('chat-users').innerText);
                            var parsed_chat_user = JSON.parse(chat_user);

                            // Check if chat_users is an array and proceed with the logic
                            if (Array.isArray(chat_users)) {
                                if (chat_users.length === 0) {
                                    window.location.reload();
                                } else {
                                    const userExists = chat_users.some(user => user.user_id === payload.message_content[0].message_id);
                                    if (!userExists) {
                                        window.location.reload();
                                    } else {
                                        if (payload.message_content[0].message_id != parsed_chat_user.user_id) {
                                            var unreadMessageNumberDiv = document.getElementById(`unread-message-number-${payload.message_content[0].message_id}`)?.classList.remove('d-none');
                                            var badgeSpan = unreadMessageNumberDiv.querySelector('span');
                                            if (badgeSpan) {
                                                badgeSpan.textContent = '1'; 
                                            }
                                        }
                                        
                                        if (payload.message_content[0].message_id === parsed_chat_user.user_id) {
                                            showChat(chat_user, 'realtime-message');
                                        }
                                    
                                    }
                                }
                            } else {
                                console.log("chat_users is not an array.");
                            }
                        } catch (e) {
                            console.log("Error", e);
                        }
                      
                } 

                showNotification("New message received from the User!", {
                    body: "Click to view the message."
                });

            }
            
        }

        function showNotification(title, options) {
            if ("Notification" in window) {
                Notification.requestPermission().then(function (permission) {
                    if (permission === "granted") {
                        new Notification(title, options);
                    }
                });
            } else {
                alert(title);
            }
        }
    
    </script>