{% extends 'partials/base.html' %}
{% load static %}
{% block head_title%}
        <title>Documents</title>
{% endblock %}
{% block extra_css %}
        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <style>
            .folder {
                display: inline-block;
                margin-right: 20px;
                color: blue;
                cursor: pointer;
            }
            .subfolders {
                display: none;
                margin-left: 20px;
            }
            .file {
                margin-left: 20px;
                color: green;
                cursor: pointer;
            }
        </style>
{% endblock %}
{% block content %}
            <div class="main-content">  
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Documents</h4>
                                    

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item active">Documents</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h5 class="card-title">Available Documents</span></h5>
                                </div>
                            </div>
                            
                        </div>
                        <!-- end row -->
                        <div id="root">
                            {% for folder_info in folder_structure %}
                                <div class="folder" onclick="toggleFolder('{{ folder_info.name }}')">
                                    {{ folder_info.name }}
                                </div>
                                <div id="{{ folder_info.name }}-subfolders" class="subfolders">
                                    <ul>
                                        {% for folder in folder_info.folders %}
                                            <li class="subfolder" onclick="toggleSubfolder('{{ folder.name }}', event)">
                                                {{ folder.name }}
                                            </li>
                                        {% endfor %}
                                        {% for file in folder_info.files %}
                                            <li class="file" onclick="openFile('{{ file.name }}')">
                                                {{ file.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>


                        
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{% endblock %}


{% block extra_js %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- init js -->
    <script src="{% static 'js/pages/datatable-pages.init.js' %}"></script>
    <script>
        function toggleFolder(folderName) {
            var subfolders = document.getElementById(folderName + '-subfolders');
            subfolders.style.display = (subfolders.style.display == 'block') ? 'none' : 'block';
        }

        function toggleSubfolder(subfolderName, event) {
            event.stopPropagation();
            var subfolder = document.getElementById(subfolderName + '-subfolders');
            subfolder.style.display = (subfolder.style.display == 'block') ? 'none' : 'block';
        }

        function openFile(fileName) {
            console.log('File clicked:', fileName);
        }
    </script>
{% endblock %}