{% extends 'partials/base.html' %}
{% load static %}
{% block head_title%}
        <title>Actions</title>
{% endblock %}
{% block extra_css %}
        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
            <div class="main-content">  
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Action-Logs</h4>
                                    

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item active">Action-Logs</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h5 class="card-title">Users Actions</span></h5>
                                </div>
                            </div>
                            
                        </div>
                        <!-- end row -->


                        <div class="table-responsive mb-4">
                            <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                <thead>
                                    <tr>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Action-logs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for log in alllogs %}
                                        {% if log.email %}
                                            <tr>
                                                <td>{{ log.email }}</td>
                                                 <td>{{ log.user_role }}</td>
                                                <td><a class="btn btn-outline-primary waves-light waves-effect" href="{% url 'user_actions' uuid=log.user_id %}" role="tab">
                                                    <i class="fa-solid fa-photo-film"></i>
                                                    <span>Audit-Logs</span> 
                                                </a></td>
                                            </tr>
                                        {% endif %}

                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                        <!-- end table responsive -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{% endblock %}


{% block extra_js %}

    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- init js -->
    <script src="{% static 'js/pages/datatable-pages.init.js' %}"></script>
{% endblock %}