{% extends 'partials/base.html' %}
{% load static %}
{% block head_title%}
        <title>User Media</title>
{% endblock %}
{% block extra_css %}
        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
            <div class="main-content">  
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">{{ user.email }}</h4>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <h5 class="card-title">User Media</span></h5>
                                </div>
                            </div>
                            
                        </div>
                        <!-- end row -->


                        <div class="table-responsive mb-4">
                            <table class="table align-middle datatable dt-responsive table-check nowrap" style="border-collapse: collapse; border-spacing: 0 8px; width: 100%;">
                                <thead>
                                  <tr>
                                    <th scope="col">Filename</th>
                                    <th scope="col">Url</th>
                                    <th scope="col">Is Signed</th>
                                  </tr>
                                </thead>
                                <tbody> 
                                    {% for doc in user.downloaded_documents %}
                                    <tr>
                                        <td>{{ doc.name }}</td>
                                        <td><a href='{{ BASE_URL }}{{ doc.url }}' target="_blank">view</a></td>
                                        <td>{{ doc.is_signed }}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                        <!-- end table responsive -->
                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{% endblock %}


{% block extra_js %}
    <!-- Required datatable js -->
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- init js -->
    <script src="{% static 'js/pages/datatable-pages.init.js' %}"></script>
{% endblock %}